In [1]:
import pandas as pd
import xlrd
import openpyxl
import numpy as np

In [2]:
excel =pd.ExcelFile("geopoll.xlsx")
#Export every single sheet of the .xlsx file as a .csv file.
sheet_1=excel.parse("Sheet1")
print(sheet_1)
sheet_1.to_csv("sheet1.csv",index=0,header=None)
sheet1=pd.read_csv("sheet1.csv",)
print(sheet1)

               Unnamed: 0                        Unnamed: 1        Unnamed: 2  \
0                     NaN                               NaN               NaN
1             Survey Date                           Country            Admin1
2     2020-04-02 00:00:00                             Kenya          Machakos
3     2020-04-02 00:00:00                             Kenya       Uasin Gishu
4     2020-04-02 00:00:00                           Nigeria             Benue
...                   ...                               ...               ...
4785  2020-04-08 00:00:00  Democratic Republic of the Congo  Kasai Occidental
4786  2020-04-08 00:00:00  Democratic Republic of the Congo           Katanga
4787  2020-04-08 00:00:00  Democratic Republic of the Congo          Equateur
4788  2020-04-08 00:00:00  Democratic Republic of the Congo         Nord-Kivu
4789  2020-04-08 00:00:00  Democratic Republic of the Congo          Sud-Kivu

     Unnamed: 3 Unnamed: 4 Unnamed: 5   Unnamed: 6            Unnamed: 7  \
0           NaN        NaN        NaN          NaN                   NaN
1     BirthYear     Gender  Awareness  Urban/Rural      BiggestChallenge
2          1999       Male        Yes   Rural area                Corona
3          1991       Male        Yes   Urban area  High prices of goods
4          1999       Male        Yes   Urban area                 Light
...         ...        ...        ...          ...                   ...
4785       1976       Male        Yes   Rural area                   NaN
4786       1998       Male        Yes   Urban area                   NaN
4787       1950       Male        Yes   Urban area                   NaN
4788       1993       Male        Yes   Urban area                   NaN
4789       1993       Male        Yes   Rural area                   NaN

        Unnamed: 8               Unnamed: 9  ...  \
0              NaN                      NaN  ...
1     LevelConcern                 Concerns  ...
2                5  Contracting the disease  ...
3                5         Local infections  ...
4                5  Contracting the disease  ...
...            ...                      ...  ...
4785             5        Global infections  ...
4786             1          Economic impact  ...
4787             4          Economic impact  ...
4788             5  Contracting the disease  ...
4789             5        Global infections  ...

                             Unnamed: 45  \
0                                    NaN
1     InformationSources: Friends/family
2                                  FALSE
3                                  FALSE
4                                  FALSE
...                                  ...
4785                                TRUE
4786                               FALSE
4787                               FALSE
4788                               FALSE
4789                               FALSE

                                  Unnamed: 46                     Unnamed: 47  \
0                                         NaN                             NaN
1     InformationSources: Government messages  InformationSources: Newspapers
2                                        TRUE                           FALSE
3                                        TRUE                           FALSE
4                                       FALSE                           FALSE
...                                       ...                             ...
4785                                    FALSE                           FALSE
4786                                     TRUE                           FALSE
4787                                    FALSE                           FALSE
4788                                    FALSE                            TRUE
4789                                    FALSE                           FALSE

                    Unnamed: 48                Unnamed: 49  \
0                           NaN                        NaN
1     InformationSources: Other  InformationSources: Radio
2                         FALSE                      FALSE
3                         FALSE                      FALSE
4                         FALSE                      FALSE
...                         ...                        ...
4785                      FALSE                      FALSE
4786                      FALSE                      FALSE
4787                      FALSE                       TRUE
4788                      FALSE                      FALSE
4789                      FALSE                      FALSE

                           Unnamed: 50             Unnamed: 51  \
0                                  NaN                     NaN
1     InformationSources: Social Media  InformationSources: TV
2                                FALSE                   FALSE
3                                 TRUE                    TRUE
4                                 TRUE                   FALSE
...                                ...                     ...
4785                             FALSE                   FALSE
4786                             FALSE                   FALSE
4787                             FALSE                   FALSE
4788                             FALSE                   FALSE
4789                              TRUE                   FALSE

               Unnamed: 52       Unnamed: 53                  Unnamed: 54
0                      NaN               NaN                          NaN
1              SocialMedia  MediaConsumption                 StayPositive
2                      NaN    Consuming more                      Nothing
3            Media outlets    Consuming more                         Hope
4     Health organizations    Consuming more  Will go back to school soon
...                    ...               ...                          ...
4785                   NaN    Consuming less                          NaN
4786                   NaN    Consuming less                          NaN
4787                   NaN    Consuming more                          NaN
4788                   NaN    Consuming more                          NaN
4789         Media outlets         No change                          NaN

[4790 rows x 55 columns]
               Unnamed: 0                        Unnamed: 1        Unnamed: 2  \
0             Survey Date                           Country            Admin1
1     2020-04-02 00:00:00                             Kenya          Machakos
2     2020-04-02 00:00:00                             Kenya       Uasin Gishu
3     2020-04-02 00:00:00                           Nigeria             Benue
4     2020-04-02 00:00:00                             Kenya             Kisii
...                   ...                               ...               ...
4784  2020-04-08 00:00:00  Democratic Republic of the Congo  Kasai Occidental
4785  2020-04-08 00:00:00  Democratic Republic of the Congo           Katanga
4786  2020-04-08 00:00:00  Democratic Republic of the Congo          Equateur
4787  2020-04-08 00:00:00  Democratic Republic of the Congo         Nord-Kivu
4788  2020-04-08 00:00:00  Democratic Republic of the Congo          Sud-Kivu

     Unnamed: 3 Unnamed: 4 Unnamed: 5   Unnamed: 6                Unnamed: 7  \
0     BirthYear     Gender  Awareness  Urban/Rural          BiggestChallenge
1          1999       Male        Yes   Rural area                    Corona
2          1991       Male        Yes   Urban area      High prices of goods
3          1999       Male        Yes   Urban area                     Light
4          1987       Male        Yes   Rural area  The outbreak of covid-19
...         ...        ...        ...          ...                       ...
4784       1976       Male        Yes   Rural area                       NaN
4785       1998       Male        Yes   Urban area                       NaN
4786       1950       Male        Yes   Urban area                       NaN
4787       1993       Male        Yes   Urban area                       NaN
4788       1993       Male        Yes   Rural area                       NaN

        Unnamed: 8               Unnamed: 9  ...  \
0     LevelConcern                 Concerns  ...
1                5  Contracting the disease  ...
2                5         Local infections  ...
3                5  Contracting the disease  ...
4                5  Contracting the disease  ...
...            ...                      ...  ...
4784             5        Global infections  ...
4785             1          Economic impact  ...
4786             4          Economic impact  ...
4787             5  Contracting the disease  ...
4788             5        Global infections  ...

                             Unnamed: 45  \
0     InformationSources: Friends/family
1                                  FALSE
2                                  FALSE
3                                  FALSE
4                                  FALSE
...                                  ...
4784                                TRUE
4785                               FALSE
4786                               FALSE
4787                               FALSE
4788                               FALSE

                                  Unnamed: 46                     Unnamed: 47  \
0     InformationSources: Government messages  InformationSources: Newspapers
1                                        TRUE                           FALSE
2                                        TRUE                           FALSE
3                                       FALSE                           FALSE
4                                        TRUE                            TRUE
...                                       ...                             ...
4784                                    FALSE                           FALSE
4785                                     TRUE                           FALSE
4786                                    FALSE                           FALSE
4787                                    FALSE                            TRUE
4788                                    FALSE                           FALSE

                    Unnamed: 48                Unnamed: 49  \
0     InformationSources: Other  InformationSources: Radio
1                         FALSE                      FALSE
2                         FALSE                      FALSE
3                         FALSE                      FALSE
4                         FALSE                       TRUE
...                         ...                        ...
4784                      FALSE                      FALSE
4785                      FALSE                      FALSE
4786                      FALSE                       TRUE
4787                      FALSE                      FALSE
4788                      FALSE                      FALSE

                           Unnamed: 50             Unnamed: 51  \
0     InformationSources: Social Media  InformationSources: TV
1                                FALSE                   FALSE
2                                 TRUE                    TRUE
3                                 TRUE                   FALSE
4                                 TRUE                    TRUE
...                                ...                     ...
4784                             FALSE                   FALSE
4785                             FALSE                   FALSE
4786                             FALSE                   FALSE
4787                             FALSE                   FALSE
4788                              TRUE                   FALSE

               Unnamed: 52       Unnamed: 53  \
0              SocialMedia  MediaConsumption
1                      NaN    Consuming more
2            Media outlets    Consuming more
3     Health organizations    Consuming more
4     Health organizations    Consuming more
...                    ...               ...
4784                   NaN    Consuming less
4785                   NaN    Consuming less
4786                   NaN    Consuming more
4787                   NaN    Consuming more
4788         Media outlets         No change

                                            Unnamed: 54
0                                          StayPositive
1                                               Nothing
2                                                  Hope
3                           Will go back to school soon
4     the covid 19 outbreak has not been confirmed i...
...                                                 ...
4784                                                NaN
4785                                                NaN
4786                                                NaN
4787                                                NaN
4788                                                NaN

[4789 rows x 55 columns]

In [12]:
sheet1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,Survey Date,Country,Admin1,BirthYear,Gender,Awareness,Urban/Rural,BiggestChallenge,LevelConcern,Concerns,...,InformationSources: Friends/family,InformationSources: Government messages,InformationSources: Newspapers,InformationSources: Other,InformationSources: Radio,InformationSources: Social Media,InformationSources: TV,SocialMedia,MediaConsumption,StayPositive
1,2020-04-02 00:00:00,Kenya,Machakos,1999,Male,Yes,Rural area,Corona,5,Contracting the disease,...,FALSE,TRUE,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,Consuming more,Nothing
2,2020-04-02 00:00:00,Kenya,Uasin Gishu,1991,Male,Yes,Urban area,High prices of goods,5,Local infections,...,FALSE,TRUE,FALSE,FALSE,FALSE,TRUE,TRUE,Media outlets,Consuming more,Hope
3,2020-04-02 00:00:00,Nigeria,Benue,1999,Male,Yes,Urban area,Light,5,Contracting the disease,...,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,Health organizations,Consuming more,Will go back to school soon
4,2020-04-02 00:00:00,Kenya,Kisii,1987,Male,Yes,Rural area,The outbreak of covid-19,5,Contracting the disease,...,FALSE,TRUE,TRUE,FALSE,TRUE,TRUE,TRUE,Health organizations,Consuming more,the covid 19 outbreak has not been confirmed i...

In [4]:
sheet1.describe()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
count,4789,4789,4789,4789,4789,4789,4789,2401,4789,4789,...,4789,4789,4789,4789,4789,4789,4789,1906,4789,2400
unique,8,13,187,64,3,2,3,1607,6,7,...,3,3,3,3,3,3,3,6,4,1865
top,2020-04-02 00:00:00,Ivory Coast (Cote D'Ivoire),Central,1994,Male,Yes,Urban area,Money,5,Contracting the disease,...,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,Media outlets,Consuming more,Staying at home
freq,1969,400,195,323,2567,4788,3152,80,3447,1299,...,4121,3398,4069,4649,2902,2883,2653,869,3149,36

In [5]:
country_name =sheet1['Unnamed: 1']
country_name
Gender = sheet1['Unnamed: 4']
awareness =sheet1['Unnamed: 5']
birth =sheet1['Unnamed: 3']
challenge = sheet1['Unnamed: 7']
concern =sheet1['Unnamed: 8']
import numpy as np

## spread number among the  african countries

In [6]:
# country that has the highest number of confirmed cases
np.max(country_name)

'Zambia'

In [7]:
#country that has the highest number of year cases
birth.describe().top

'1994'

In [8]:
#country that has the highest number of chalenge 
challenge.describe().top

'Money'

In [9]:
sheet1.shape

(4789, 55)